body {
      background-color: #a3a3a3;
}

h1 {
    color: purple;
    align-content: center;
    font-family: 'Sawarabi Mincho', sans-serif;
}

p {
    color: orange;
    font-family: 'Inconsolata', monospace;
}

.what {
        color: blue;
        text-align: center;
}

#thanks {
          color: green;
          text-align: center;
}
.link a:link {
    color: red;
}
.link a:hover {
    color: purple;
}

.iulogo {
          width: 25px;
          height: 10px;
          border: 0;
}
.userinfo {
            text-align: center;
}
.userinfo h2 {
            color: orange;
            font-style: italic;
}
.userinfo a:link {
                    color: green;
}

.userinfo a:hover {
                    color: blue;
}

#useriulogo {
  height: 15px;
  align-content: center;
}
  th[role=columnheader]:not(.no-sort) {
  	cursor: pointer;
  }

  th[role=columnheader]:not(.no-sort):after {
  	content: '';
  	float: right;
  	margin-top: 7px;
  	border-width: 0 4px 4px;
  	border-style: solid;
  	border-color: #404040 transparent;
  	visibility: hidden;
  	opacity: 0;
  	-ms-user-select: none;
  	-webkit-user-select: none;
  	-moz-user-select: none;
  	user-select: none;
  }

  th[aria-sort=ascending]:not(.no-sort):after {
  	border-bottom: none;
  	border-width: 4px 4px 0;
  }

  th[aria-sort]:not(.no-sort):after {
  	visibility: visible;
  	opacity: 0.4;
  }

  th[role=columnheader]:not(.no-sort):hover:after {
  	visibility: visible;
  	opacity: 1;
  }
