body {
      background-color: #a3a3a3;
}

h1 {
    color: purple;
    align-content: center;
    font-family: 'Sawarabi Mincho', sans-serif;
}

p {
    color: orange;
    font-family: 'Inconsolata', monospace;
}

.what {
        color: blue;
}

#thanks {
          color: green;
}
